<div>
	<table>
		<thead>
			<tr>
				<th>Product</th>
				<th>Description</th>
				<th>Category</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			{{#each products}}
			<tr>
				<td>{{this.title}}</td>
				<td>{{this.description}}</td>
				<td>{{this.category}}</td>
				<td>{{this.price}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
<br />
<div>
	{{#if hasPrevPage}}
	<a href={{this.prevLink}}><< Prev</a>
	{{/if}}
	&nbsp;
	{{this.page}}
	&nbsp;
	{{#if hasNextPage}}
	<a href={{this.nextLink}}>Next >></a>
	{{/if}}
</div>