{{#if isValid}}
<div>
	<table>
		<thead>
			<tr>
				<th>Product</th>
				<th>Description</th>
				<th>Category</th>
				<th>Price</th>
				<th>Add to Current Cart</th>
			</tr>
		</thead>
		<tbody>
			{{#each product}}
			<tr>{{this.title}}</tr>
			<tr>{{this.description}}</tr>
			<tr>{{this.category}}</tr>
			<tr>{{this.price}}</tr>
			<tr>
				<form action="/api/carts/{{cart._id}}/products/{{this._id}}" method="POST">
					<button type="submit">
						Add to cart
					</button>
				</form>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
<br />
<div>
	{{#if hasPrevPage}}
	<a href={{this.prevLink}}><< Prev</a>
	{{/if}}
	&nbsp;
	{{this.page}}
	&nbsp;
	{{#if hasNextPage}}
	<a href={{this.nextLink}}>Next >></a>
	{{/if}}
</div>
{{else}}
<h1>No more products</h1>
{{/if}}